// colors
$color_white: #fff;
$color_black: #000000;
$color_black-1: #1A284B;

$color_gray-1: #F5F7FA;
$color_gray-2: #D5D8DE;
$color_gray-3: #6F7B94;
$color_gray-4: #E2E4EC;

// fonts
$font_silka: "silkaregular", sans-serif;
